name: Python Tests CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r HarmonyStudio/backend/requirements.txt
        
    - name: Run Tests with Pytest
      run: |
        export PYTHONPATH=$PYTHONPATH:./backend
        pytest HarmonyStudio/backend/tests/